/* https://mattbrictson.com/blog/css-normalize-and-reset#my-recommendation */

/* :root font added: 
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  https://css-tricks.com/snippets/css/system-font-stack/
 */

/* Personal changes
    :root - box-sizing: border-box;
    input - appearance: none;
*/

@import "modern-normalize";

html {
  font-size: 62.5%;
}

:root {
  line-height: 1.5;
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol, ul {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

input {
  appearance: none;
}

/* Default styles above */

@font-face {
  font-family: 'Norse Bold';
  src: url('Norse-Bold.otf') format('opentype');
}

body {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  display: flex;
  max-width: 1200px;
}

.right-container {
  max-width: 750px;
}

.left-container {
  background-image: url('photo.avif');
  background-size: cover;
  width: 450px;
}

.odin-container {
  font-family: 'Norse Bold';
  color: white;
  background-color: rgba(0, 0, 0, 0.76);
}

.odin-container img {
  width: 100px;
}

