/* https://mattbrictson.com/blog/css-normalize-and-reset#my-recommendation */

/* :root font added: 
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  https://css-tricks.com/snippets/css/system-font-stack/
 */

/* Personal changes
    :root - box-sizing: border-box;
    input - appearance: none;
*/

@import "modern-normalize";

html {
  font-size: 62.5%;
}

:root {
  line-height: 1.5;
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol, ul {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

input {
  appearance: none;
}

/* Default styles above */

@font-face {
  font-family: 'Norse Bold';
  src: url('Norse-Bold.otf') format('opentype');
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  width: 150px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(245, 245, 245);
  line-height: 23px;
  height: 100%;
}

.main-container {
  display: flex;
  max-width: 1200px;
  overflow: auto;
  height: 100svh;
}

.right-container {
  max-width: 750px;
}

.right-container section {
  padding-left: 2.5rem;
}

.left-container {
  background-image: url('photo.avif');
  background-size: cover;
  width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.odin-container {
  font-family: 'Norse Bold';
  color: white;
  background-color: rgba(0, 0, 0, 0.521);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 10rem;
  padding: 2rem 0;
}

.spacer {
  height: 400px;
  width: 100px;
}

.odin-container img {
  width: 75px;
}

.header-section {
  padding-top: 10rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
}

.header-section p {
  width: 600px;
}

.cta {
  padding-top: 2.5rem;
}

.form-section {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 3px 1px 3px rgba(180, 180, 180, 0.103);
  padding: 1rem 0 3rem 0;
  color: rgb(34, 34, 34)
}

.form-section p {
  padding: 1rem 0 1rem 0;
}

form {
  display: flex;
  flex-direction: column;
}

.form-name .form-block:nth-of-type(2),
.form-info .form-block:nth-of-type(2),
.form-password .form-block:nth-of-type(2) {
  padding-left: 5rem;
}

.form-name,
.form-info,
.form-password {
  display: flex;
}

.form-block {
  display: flex;
  flex-direction: column;
}

label {
  padding: 1.75rem 0 0 0;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

input {
  width: 250px;
  border: 1px solid rgba(158, 158, 158, 0.281);
  border-radius: 3px;
  outline: none;
  background-color: rgb(252, 252, 252);
  padding: 0.5rem;
  font-size: 1.5rem;
}

input:focus {
  border: 1px solid rgba(21, 21, 221, 0.774);
  box-shadow: 0 2px 5px 2px rgba(104, 104, 104, 0.274);
}

input:invalid {
  border: 1px solid rgba(221, 21, 21, 0.774);
  box-shadow: 0 2px 5px 2px rgba(104, 104, 104, 0.274);
}

.submit-section {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}

.create-account {
  color: white;
  background-color: #596D48;
  border: none;
  padding: 1rem 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 5px;
  box-shadow: 0 2px 5px 2px rgba(104, 104, 104, 0.178);
  text-align: center;

}

.submit-section > * {
  margin: 1rem 0;
}

.submit-section p {
  font-size: 1.5rem;
  font-weight: 400;
}

.login-text {
  color: #596D48;
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;

}

.login-footer {
  display: flex;
}

.login-footer a {
  padding-left: 3.5px;
}


